### Linear Regression Project - Predicting House Prices

Information about the dataset is available [here](https://www.tandfonline.com/doi/abs/10.1080/10691898.2011.11889627)

Information about the columns is available [here](https://s3.amazonaws.com/dq-content/307/data_description.txt)

Data is available to download here [here](https://dsserver-prod-resources-1.s3.amazonaws.com/235/AmesHousing.txt)

#### Imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("AmesHousing.txt", sep="\t")

In [3]:
df.head(3)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5   Lot Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            198 non-null    object
 8   Lot Shape        2930 non-null   object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   int64
 19  Overall Cond     2930 non-null   int64
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     2907 non-null   object
 27  Mas Vnr Area     2907 non-null   float64
 28  Exter Qual       2930 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2850 non-null   object
 32  Bsmt Cond        2850 non-null   object
 33  Bsmt Exposure    2847 non-null   object
 34  BsmtFin Type 1   2850 non-null   object
 35  BsmtFin SF 1     2929 non-null   float64
 36  BsmtFin Type 2   2849 non-null   object
 37  BsmtFin SF 2     2929 non-null   float64
 38  Bsmt Unf SF      2929 non-null   float64
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2929 non-null   object
 44  1st Flr SF       2930 non-null   int64
 45  2nd Flr SF       2930 non-null   int64
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2928 non-null   float64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2930 non-null   int64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   int64
 58  Fireplace Qu     1508 non-null   object
 59  Garage Type      2773 non-null   object
 60  Garage Yr Blt    2771 non-null   float64
 61  Garage Finish    2771 non-null   object
 62  Garage Cars      2929 non-null   float64
 63  Garage Area      2929 non-null   float64
 64  Garage Qual      2771 non-null   object
 65  Garage Cond      2771 non-null   object
 66  Paved Drive      2930 non-null   object
 67  Wood Deck SF     2930 non-null   int64
 68  Open Porch SF    2930 non-null   int64
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          13 non-null     object
 74  Fence            572 non-null    object
 75  Misc Feature     106 non-null    object
 76  Misc Val         2930 non-null   int64
 77  Mo Sold          2930 non-null   int64
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [6]:
def train_and_test(df, features):
    X = df[features].drop('SalePrice', axis=1)
    y = df['SalePrice']
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
    lr = LinearRegression()
    lr.fit(X_train, y_train)
    predictions = lr.predict(X_test)
    mse = mean_squared_error(predictions, y_test)
    return np.sqrt(mse)

In [7]:
def get_numeric_features(df):
    return df.select_dtypes(include=np.number).columns.to_list()

In [8]:
def select_features():
    return ['Gr Liv Area', 'SalePrice']

In [9]:
living_area_feature = select_features()
train_and_test(df, living_area_feature)

57585.82288777018

Using a linear regression model using only the above ground living area the RMSE is $57586

### Feature engineering

* Any columns with more than 25% of missing values will be dropped
* Columns that leak data will be dropeed
* Data will be formatted including converting data to be of type category, scaling numerical data and imputing missing values
* Create new categories through combining original features

In [10]:
five_percent_of_df = len(df)//20
five_percent_of_df

146

In [11]:
null_counts = df.isnull().sum().sort_values(ascending=False)
null_counts.head(10)

Pool QC          2917
Misc Feature     2824
Alley            2732
Fence            2358
Fireplace Qu     1422
Lot Frontage      490
Garage Qual       159
Garage Yr Blt     159
Garage Cond       159
Garage Finish     159
dtype: int64

In [12]:
mv_features_to_drop = null_counts[null_counts > five_percent_of_df].index.to_list()
mv_features_to_drop

['Pool QC',
 'Misc Feature',
 'Alley',
 'Fence',
 'Fireplace Qu',
 'Lot Frontage',
 'Garage Qual',
 'Garage Yr Blt',
 'Garage Cond',
 'Garage Finish',
 'Garage Type']

In [14]:
num_missing = df.select_dtypes(include=np.number).isnull().sum()
fixable_numeric_cols = num_missing[(num_missing < len(df)/20) & (num_missing > 0)].sort_values().index.to_list()
fixable_numeric_cols

['BsmtFin SF 1',
 'BsmtFin SF 2',
 'Bsmt Unf SF',
 'Total Bsmt SF',
 'Garage Cars',
 'Garage Area',
 'Bsmt Full Bath',
 'Bsmt Half Bath',
 'Mas Vnr Area']

In [15]:
df_fixable_modes = df[fixable_numeric_cols].mode().loc[0]
df_fixable_modes

BsmtFin SF 1      0.0
BsmtFin SF 2      0.0
Bsmt Unf SF       0.0
Total Bsmt SF     0.0
Garage Cars       2.0
Garage Area       0.0
Bsmt Full Bath    0.0
Bsmt Half Bath    0.0
Mas Vnr Area      0.0
Name: 0, dtype: float64

Function to drop cols with more than 5% of vals missing 
and if feature is numeric and has less than 5% missing than fill the missing value with the mode

In [16]:
def transform_features(df):
    df.drop(mv_features_to_drop, axis = 1, inplace=True)
    df.fillna(df_fixable_modes, inplace=True)

    return df

In [17]:
df_cleaned = transform_features(df)

In [18]:
df_cleaned.isnull().sum().sort_values(ascending=False)

Bsmt Exposure     83
BsmtFin Type 2    81
BsmtFin Type 1    80
Bsmt Cond         80
Bsmt Qual         80
                  ..
Central Air        0
Heating QC         0
Heating            0
Total Bsmt SF      0
Order              0
Length: 71, dtype: int64

In [19]:
df_cleaned[fixable_numeric_cols].isnull().sum()

BsmtFin SF 1      0
BsmtFin SF 2      0
Bsmt Unf SF       0
Total Bsmt SF     0
Garage Cars       0
Garage Area       0
Bsmt Full Bath    0
Bsmt Half Bath    0
Mas Vnr Area      0
dtype: int64

In [20]:
df_cleaned.columns

Index(['Order', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Area', 'Street',
       'Lot Shape', 'Land Contour', 'Utilities', 'Lot Config', 'Land Slope',
       'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type',
       'House Style', 'Overall Qual', 'Overall Cond', 'Year Built',
       'Year Remod/Add', 'Roof Style', 'Roof Matl', 'Exterior 1st',
       'Exterior 2nd', 'Mas Vnr Type', 'Mas Vnr Area', 'Exter Qual',
       'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin SF 1', 'BsmtFin Type 2', 'BsmtFin SF 2',
       'Bsmt Unf SF', 'Total Bsmt SF', 'Heating', 'Heating QC', 'Central Air',
       'Electrical', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
       'Gr Liv Area', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath',
       'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'Kitchen Qual',
       'TotRms AbvGrd', 'Functional', 'Fireplaces', 'Garage Cars',
       'Garage Area', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Misc Val',
       'Mo Sold', 'Yr Sold', 'Sale Type', 'Sale Condition', 'SalePrice'],
      dtype='object')

Drop columns that have data leakage - these are columns that you would not know when trying to predict the price of a house

In [21]:
df_cleaned = df_cleaned.drop(["Mo Sold", "Sale Condition", "Sale Type", "Yr Sold"], axis=1)

Drop columns that do not contain useful information

In [22]:
df_cleaned = df_cleaned.drop(['Order', 'PID'], axis = 1)

In [23]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 65 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MS SubClass      2930 non-null   int64
 1   MS Zoning        2930 non-null   object
 2   Lot Area         2930 non-null   int64
 3   Street           2930 non-null   object
 4   Lot Shape        2930 non-null   object
 5   Land Contour     2930 non-null   object
 6   Utilities        2930 non-null   object
 7   Lot Config       2930 non-null   object
 8   Land Slope       2930 non-null   object
 9   Neighborhood     2930 non-null   object
 10  Condition 1      2930 non-null   object
 11  Condition 2      2930 non-null   object
 12  Bldg Type        2930 non-null   object
 13  House Style      2930 non-null   object
 14  Overall Qual     2930 non-null   int64
 15  Overall Cond     2930 non-null   int64
 16  Year Built       2930 non-null   int64
 17  Year Remod/Add   2930 non-null   int64
 18  Roof Style       2930 non-null   object
 19  Roof Matl        2930 non-null   object
 20  Exterior 1st     2930 non-null   object
 21  Exterior 2nd     2930 non-null   object
 22  Mas Vnr Type     2907 non-null   object
 23  Mas Vnr Area     2930 non-null   float64
 24  Exter Qual       2930 non-null   object
 25  Exter Cond       2930 non-null   object
 26  Foundation       2930 non-null   object
 27  Bsmt Qual        2850 non-null   object
 28  Bsmt Cond        2850 non-null   object
 29  Bsmt Exposure    2847 non-null   object
 30  BsmtFin Type 1   2850 non-null   object
 31  BsmtFin SF 1     2930 non-null   float64
 32  BsmtFin Type 2   2849 non-null   object
 33  BsmtFin SF 2     2930 non-null   float64
 34  Bsmt Unf SF      2930 non-null   float64
 35  Total Bsmt SF    2930 non-null   float64
 36  Heating          2930 non-null   object
 37  Heating QC       2930 non-null   object
 38  Central Air      2930 non-null   object
 39  Electrical       2929 non-null   object
 40  1st Flr SF       2930 non-null   int64
 41  2nd Flr SF       2930 non-null   int64
 42  Low Qual Fin SF  2930 non-null   int64
 43  Gr Liv Area      2930 non-null   int64
 44  Bsmt Full Bath   2930 non-null   float64
 45  Bsmt Half Bath   2930 non-null   float64
 46  Full Bath        2930 non-null   int64
 47  Half Bath        2930 non-null   int64
 48  Bedroom AbvGr    2930 non-null   int64
 49  Kitchen AbvGr    2930 non-null   int64
 50  Kitchen Qual     2930 non-null   object
 51  TotRms AbvGrd    2930 non-null   int64
 52  Functional       2930 non-null   object
 53  Fireplaces       2930 non-null   int64
 54  Garage Cars      2930 non-null   float64
 55  Garage Area      2930 non-null   float64
 56  Paved Drive      2930 non-null   object
 57  Wood Deck SF     2930 non-null   int64
 58  Open Porch SF    2930 non-null   int64
 59  Enclosed Porch   2930 non-null   int64
 60  3Ssn Porch       2930 non-null   int64
 61  Screen Porch     2930 non-null   int64
 62  Pool Area        2930 non-null   int64
 63  Misc Val         2930 non-null   int64
 64  SalePrice        2930 non-null   int64
dtypes: float64(9), int64(24), object(32)
memory usage: 1.5+ MB